.footer {
  text-align: start;
  align-self: self-start;
  padding: 30px;
  background: var(--accent-color);
  width: 100%;
  box-sizing: border-box;
}

.footer_content {
  color: var(--white-text);
}
