.section {
  padding: 100px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-white);
}

.container {
  padding: 30px;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 3rem;
  /* text-align: center; */
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap; /* 줄 바꿈 허용 */
  gap: 30px; /* 카드 간격 */
  justify-content: flex-start; /* 왼쪽 정렬 */
}

.card {
  background: var(--color-white);
  color: var(--color-black);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(34, 34, 34, 0.06);
  width: calc(50% - 30px);
  box-sizing: border-box;
  border: 2px solid var(--color-point);
}
